
    
<section class="profile-w-media left">
    <div class="grid-container large">
        <div class="profile">
            <div class="inner wave-pattern pink">
                <div class="content">
                    <div class="category">Graduate Profile</div>
                    <h2 class="underline">Sarah Chang</h2>
                    <p>In her research, History Doctoral Student Sarah Chang investigates the lifecycle of the postwar factory in China, and the shift for women workers from the home to paid industrial work during the socialist period.</p>
                </div>
                <div class="media">
                    <div class="image">
                        <a href="javascript:void(0)" aria-label="">
                            <img class="profile-image" src="{{root}}assets/img/content/history-profile.jpg" alt="Profile" />
                        </a>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
