<!-------------------------------------------------------------------------------------------->
<!------When presented in a list 'small' can be added  to generic-card to shrink width-------->
<!-------------------------------------------------------------------------------------------->
<a class="generic-card" href="javascript:void(0)" aria-label="">
    <div class="image">
        <img src="{{root}}assets/img/content/visit-campustours.jpg" />
    </div>
    <div class="card-text">
        <h4 class="underline">Maps &amp; Directions</h4>
        <p>UC Santa Cruz is located in Central California on 2,000 acres overlooking the Monterey Bay. It is easily reached by major highways, with airports nearby.</p>
        <form action="#" class="cell large-12 yeardropdown">
           <select>
             <option>Select a year</option>
             <option>2015</option>
             <option>2016</option>
             <option>2030</option>
             <option>2014</option>
             <option>2015</option>
             <option>2016</option>
             <option>2030</option>
             <option>2014</option>
             <option>2015</option>
             <option>2016</option>
             <option>2030</option>
             <option>2014</option>
             <option>2015</option>
             <option>2016</option>
             <option>2030</option>
             <option>2014</option>
             <option>2015</option>
             <option>2016</option>
             <option>2030</option>
             <option>2014</option>
             <option>2015</option>
             <option>2016</option>
             <option>2030</option>
             <option>2014</option>
           </select>
          </form>
    </div>
</a>
