---
layout: landing
pageTitle: Special Events
pageClass: subsite-wrapper
type: subsite
pageName: news
---

<div class="hero-viewport inner-page-standard wave-pattern blue">
    <div class="grid-container large">
        <div class="hero-container">
            <div id="hero" class="hero hero-text-left">
                <img src="{{root}}assets/img/content/mlk-specialevents.jpg" />
                <div class="hero-text">
                    <a href="#0" class="">
                        <p class="category btn-link"><large>35th Annual</large></p>
                        <div class="underline isolated">
                            <h1 class="hero-header">Martin Luther King Jr Memorial Convocation</h1>
                            <p class="hero-body"><large>Monday, February 11, 2019</large></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-utilities">
    <div class="grid-container large">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="javascript:void(0)">Special Events Home</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> Martin Luther King Jr Convocation
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="grid-container large">
    <div class="button-list">
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text"><strong class="blue-text">Home</strong> </span>
        </a>
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text"><strong class="blue-text">Speaker Biography</strong> </span>
        </a>
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text"><strong class="blue-text">Tony Hill Memorial Award</strong> </span>
        </a>
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text"><strong class="blue-text">Register</strong> </span>
        </a>
    </div>
</div>

<div class="page-content" id="main-content">
    <div class="layout-two-column large">
        <div class="wrap">
            <div class="inner">
               <div class="column-main">
                    <h1 class="underline">Welcome!</h1>
                    <p class="lead">The Psychology department is home to some of the most creative faculty and unique research programs in the country. Also, most of our faculty are award-winning instructors! For more information, please go to our <a class="btn-link" href="http://psychology.ucsc.edu/faculty/index.php">faculty web page</a>.</p>
                    <p class="lead">Our department administers the undergraduate Psychology major, the undergraduate Cognitive Science major, and three graduate programs in psychology.</p>
                
                        <div class="grid-x grid-margin-x">
                            <div class="cell xlarge-6 large-12">
                                <a class="news-card featured" href="javascript:void(0)" aria-label="">
                                   <div class="image">
                                        <img src="{{root}}assets/img/content/phil-hammack.jpg">
                                    </div>
                                    <div class="news-card-content">
                                        <div class="category btn-link">Category</div>
                                        <div class="underline">
                                            <h4>From asexuality to heteroflexibility: 21st century ushers in new openness about intimate relationships</h4>
                                            <div class="tags">March 25, 2019</div>
                                        </div>
                                        <p>The 21st century has ushered in a "quiet revolution" in the diversity of intimate relationships, and a leading scholar says the scale and pace of this social transformation warrants a "reboot" of relationship studies.</p>
                                    </div>
                                </a>
                            </div>
                          
                            <div class="cell xlarge-6 large-12">
                                <div class="news-card-list full-width has-thumbs">
                                        <a class="news-card" href="javascript:void(0)" aria-label="">
                                            <div class="image">
                                                <img src="{{root}}assets/img/content/event-thumb.jpg">
                                            </div>
                                            <div class="news-card-content">
                                                <div class="category btn-link">Publications</div>
                                                <h4>Two new books published by UC Santa Cruz poet, lecturer, and alumnus Gary
                                                    Younge</h4>
                                                <div class="tags">March 25, 2019</div>
                                            </div>
                                        </a>
                                        <a class="news-card" href="javascript:void(0)" aria-label="">
                                            <div class="image">
                                                <img src="{{root}}assets/img/content/event-1.jpeg">
                                            </div>
                                            <div class="news-card-content">
                                                <div class="category btn-link">Faculty</div>
                                                <h4>Lit prof offers true love and dreams of miraculous escape</h4>
                                                <div class="tags">March 25, 2019</div>
                                            </div>
                                        </a>
                                        <a class="news-card" href="javascript:void(0)" aria-label="">
                                            <div class="image">
                                                <img src="{{root}}assets/img/content/event-2.jpeg">
                                            </div>
                                            <div class="news-card-content">
                                                <div class="category btn-link">Faculty</div>
                                                <h4>UC Santa Cruz historian and founding faculty member John Dizikes dies at 86
                                                </h4>
                                                <div class="tags">March 25, 2019</div>
                                            </div>
                                        </a>
        
                                        <a class="news-card" href="javascript:void(0)" aria-label="">
                                            <div class="image">
                                                <img src="{{root}}assets/img/content/event-3.jpeg">
                                            </div>
                                            <div class="news-card-content">
                                                <div class="category btn-link">Awards &amp; Recogonitions</div>
                                                <h4>Psychology Professor Margarita Azmitia wins mentor award</h4>
                                                <div class="tags">April 8, 2019</div>
                                            </div>
                                        </a>
                                    </div>
                                    <a class="btn-link right">More Social Sciences News</a>
                            </div>
                        </div>
                    
                </div>

                <div class="column-support">
                    <div class="content-block">
                        <h5 class="blue-text">Location:</h5>
                        <p>Social Sciences 2, Room 273 located in College 10. <a class="btn-link">map <i class="fas fa-map"></i></a></p>  
                        <h5 class="blue-text">Office Hours:</h5>
                        <p>Monday - Thursday, 9:00-12 noon &amp; 1:00-4:00 pm. Closed Friday</p>    
                        <h5 class="blue-text">Phone:</h5>
                        <p>(831)459-2002</p>
                        <h5 class="blue-text">Fax:</h5>
                        <p> (831)459-2002</p>
                        <h5 class="blue-text">Mailing Address:</h5>
                         <p>
                            Psychology Department<br>
                            Psychology Faculty Services<br>
                            University of California, Santa Cruz<br>
                            1156 High Street<br>
                            Santa Cruz, CA 95064</p>
                        <h5 class="blue-text">Division:</h5>
                        <p><a class="btn-link" href="http://humanities.ucsc.edu">Humanities</a></p>
                        <br>
                        <a class="button primary expanded" href="https://psychology.ucsc.edu">Psychology Website</a>
                                                  
                    </div>

                </div>

            </div>
        </div>
    </div>
    
    
    

    
</div>