---
layout: landing
pageTitle: Special Events
pageClass: subsite-wrapper
type: subsite
pageName: news
---

<div class="hero-viewport inner-page-standard wave-pattern blue">
    <div class="grid-container large">
        <div class="hero-container">
            <div id="hero" class="hero hero-text-left">
                <img src="{{root}}assets/img/content/mlk-specialevents.jpg" />
                <div class="hero-text">
                    <a href="#0" class="">
                        <p class="category btn-link"><large>35th Annual</large></p>
                        <div class="underline isolated">
                            <h1 class="hero-header">Martin Luther King Jr Memorial Convocation</h1>
                            <p class="hero-body"><large>Monday, February 11, 2019</large><br/>
                            <a class="button primary expanded" href="javascript:void(0)">Register Now</a></p>
                            
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-utilities">
    <div class="grid-container large">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="javascript:void(0)">Special Events Home</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> Martin Luther King Jr Convocation
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="grid-container large">
    <div class="button-list">
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text"><strong class="blue-text">Home</strong> </span>
        </a>
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text"><strong class="blue-text">Speaker Biography</strong> </span>
        </a>
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text"><strong class="blue-text">Tony Hill Memorial Award</strong> </span>
        </a>
    </div>
</div>

<div class="page-content" id="main-content">
    <div class="layout-two-column large">
        <div class="wrap">
            <div class="inner">
               <div class="column-main">
                    <h1 class="underline">Welcome!</h1>
                    <p class="lead">The annual convocation celebrates the life and dream of Dr. Martin Luther King Jr. by presenting speakers who discuss the civil rights issues of equality, freedom, justice, and opportunity. The convocation also seeks to build partnerships and develop dialogue within the campus community and with the local communities served by the university.</p>
                    <figure class="img-right-50">
                        <img src="../assets/img/content/melissa-harris-perry.jpg" alt="Melissa Harris-Perry: Presidential Chair, Wake Forest University">
                        <figcaption>
                            <div class="caption-desc">Melissa Harris-Perry</div>
                            <div class="caption-desc">
                                <p>Presidential Chair, Wake Forest University</p>
                            </div>
                        </figcaption>
                    </figure>
<h3>Melissa Harris-Perry, Presidential Chair, Wake Forest University</h3>
                    <p>Professor Melissa Harris-Perry is the Maya Angelou Presidential Chair at Wake Forest University. There she is founding director of the Anna Julia Cooper Center and co-director of Wake the Vote. </p>
                    <p>Harris-Perry is editor-at-large of Elle.com and a contributing editor at The Nation. From 2012-2016 she hosted the television show “Melissa Harris-Perry” on weekend mornings on MSNBC and was awarded the Hillman Prize for broadcast journalism. She continues to create and direct programs with the goal of creating diverse, quality American media.</p>
                    <p>She is an award-winning author and sought after public speaker, lecturing widely throughout the United States and abroad.Together with her husband, James Perry, she is a principal of Perry Partnership, oﬀering both political and private consulting.</p>
                    <p>Harris-Perry received her B.A. degree in English from Wake Forest University and her Ph.D. degree in political science from Duke University. She also studied theology at Union Theological Seminary in New York. Harris-Perry previously served on the faculty of the University of Chicago, Princeton University, and Tulane University. Professor Harris-Perry has been awarded honorary degrees from many universities including Meadville Lombard Theological School, Winston-Salem State University, Eckerd College, and New York University.</p>
                    <p>She and her family live in North Carolina.</p>
                    <h3>Tony Hill Memorial Award</h3>
                    <p>Members of the Santa Cruz and UCSC community are invited to nominate outstanding individuals for the Tony Hill Memorial Award. The recipient will be recognized at the convocation.</p>

                    <h2>Speakers</h2>

                    {{> speakerprofile-list }}
                    
                    
                </div>

                <div class="column-support">
                    <div class="content-block">
                        <h5 class="blue-text">Speaker:</h5>
                        <p>Melissa Harris-Perry, Presidential Chair, Wake Forest University</p>
                        <h5 class="blue-text">Date:</h5>
                        <p>7 p.m., Monday, February 11, 2019</p>
                        <h5 class="blue-text">Locations:</h5>
                        <p>Santa Cruz Civic Auditorium <a href="http://www.cityofsantacruz.com/government/city-departments/parks-recreation/civic-auditorium" class="btn-link">map <i class="fas fa-map"></i></a></p>  
                        <br>
                        <a class="button primary expanded" href="https://psychology.ucsc.edu">Register Now</a>
                                                  
                    </div>

                </div>

            </div>
        </div>
    </div>
    
    
    

    
</div>